:root {
    /* CSS HEX */
--cool-gray: #787E9Dff;
--night: #131213ff;
--wenge: #6D5E63ff;
--charcoal: #484E63ff;
--night-2: #131314ff;
}

body {
    color: var(--cool-gray);
    margin: 0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    
}

.hero {
    background-image: url("images/space.gif");
    background-size: cover;
    padding: 10px 0 50px 0;
    margin: 0;
    height: 35vh;
}

h1 {
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
}

#main-logo {
    width: 200px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: white;
    border: none;
    font-family: "Orbitron", sans-serif;
    color: var(--cool-gray);
    font-weight: 900;
}

.highlight {
    color: #ffcc00;
    border-bottom: 5px solid white;
}
